



.row

  #tagline
    %h2 Foolishly handcrafted games

  .col-md-2
  .col-md-3
    .tease.mazing
      = image_tag "pages/mazing_logo.png", :class => "title"
      %p.status
        %span.label.label-warning Status
        v1.0 Released

      = link_to "Get it on the App Store", "https://itunes.apple.com/us/app/mazing-run/id965562416", :class => "btn btn-block btn-primary"

  .col-md-3
    .tease.pyroclasm
      = image_tag "pages/pyro_logo.png", :class => "title"
      %p.status
        %span.label.label-warning Status
        v1.0 Released

      = link_to "Get it on the App Store", "https://itunes.apple.com/us/app/pyroclasm/id547060918?mt=8", :class => "btn btn-block btn-primary"


  .col-md-3
    .tease.forgecraft
      %h1.title Forgecraft
      %p.status
        %span.label.label-warning Status
        v0.1 Beta, Playable

      = link_to "Play in your browser", "http://playforgecraft.com", :class => "btn btn-block btn-primary"

.row
  .col-md-6

    .topic
      %h3.title
        Development livestreams on
        = link_to image_tag("pages/twitch_logo.png"), "https://twitch.tv/britgtx"

    <object type="application/x-shockwave-flash" style="width: 100%; min-height: 400px;" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=britgtx" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel=britgtx&auto_play=true&start_volume=25" /></object>


  .col-md-6

    .topic
      %h3.title
        Development video archives on
        = link_to image_tag("pages/youtube_logo_dark.png", style: "height: 35px;"), "https://youtube.com/foolishaggro"

    <iframe style="width:100%; min-height: 400px;" src="https://www.youtube.com/embed/videoseries?list=PLjG5_CnrWHc-6-tZsU0pDveCqzr81DC8j" frameborder="0" allowfullscreen></iframe>


.row

  .col-md-12

    - @topics.each do |topic|
      .topic
        %h3.title= link_to topic.title, topic.relative_url
        .by
          Posted by
          %strong= topic.user.username
          - topic.category.try(:tap) do |cat|
            in
            %span.label.label-info= link_to cat.name, "/category/#{cat.slug}"

        .content= topic.posts.first.excerpt.html_safe

        = link_to "Read more ...", topic.relative_url, :class => ""

        %hr

    = link_to "Visit the forums for more discussions", "/latest", :class => "btn btn-primary btn-large btn-block"


    = link_to "Twitter", "https://twitter.com/foolishaggro", :class => "btn btn-block btn-info"
    = link_to "Facebook", "https://www.facebook.com/foolishaggro", :class => "btn btn-block btn-primary"
