
.row

  .col-md-6
    .tease.foolishgalaxy
      %h1.title Foolish Galaxy
      %p.status
        %span.label.label-warning Status
        v0.0.1 Concept, Playable

      = link_to "Download Pre-alpha", "http://foolishaggro.com/t/grab-the-latest-version-of-foolish-galaxy/32", :class => "btn btn-primary"
      = link_to "Dev Log", "http://foolishaggro.com/category/foolish-galaxy", :class => "btn btn-success"

  .col-md-3
    .tease.pyroclasm
      = image_tag "pages/pyro_logo.png", :class => "title"
      %p.status
        %span.label.label-warning Status
        v1.0 Released

      = link_to "Get it on the App Store", "https://itunes.apple.com/us/app/pyroclasm/id547060918?mt=8", :class => "btn btn-block btn-primary"


  .col-md-3
    .tease.forgecraft
      %h1.title Forgecraft
      %p.status
        %span.label.label-warning Status
        v0.1 Concept, Playable

      = link_to "Play in your browser", "http://playforgecraft.com", :class => "btn btn-block btn-primary"

.row
  .col-md-8

    .panel
      .panel-heading
        = link_to "Visit forums", "/categories", :class => "btn btn-primary btn-xs pull-right"
        %h2.panel-title Recent Topics

      .panel-body

        - @topics.each do |topic|
          .topic
            %h2.title= link_to topic.title, topic.relative_url
            .by
              Posted by
              %strong.label.label-success= topic.user.username
              - topic.category.try(:tap) do |cat|
                in
                %span.label.label-info= cat.name

            .content= topic.posts.first.excerpt.html_safe

            %br

            = link_to "Read more", topic.relative_url, :class => "btn btn-primary"

            %hr

    = link_to "Visit the forums for more discussions", "/latest", :class => "btn btn-primary btn-large btn-block"


  .col-md-4

    :erb
      <a class="twitter-timeline" href="https://twitter.com/foolishaggro" data-widget-id="369798873763418112">Foolish Aggro Tweets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    = link_to "Twitter", "https://twitter.com/foolishaggro", :class => "btn btn-block btn-info"
    = link_to "Facebook", "https://www.facebook.com/foolishaggro", :class => "btn btn-block btn-primary"
    = link_to "Google+", "https://plus.google.com/114088551259464978564", :rel => "publisher", :class => "btn btn-block btn-danger"
