!!!
%html{ :lang => "en" }
  %head
    %link{ rel: "alternate", type: "application/rss+xml", title: "Foolish Aggro Devlog", href: "https://foolishaggro.com/latest.rss" }
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %meta{:name => "google-site-verification", :content => "aynvIRUd8CVkj47C55EPwKTSm_vKtijp53puB6hlQlU"}


    %title= @browser_title || "Foolish Aggro &middot; Game Development Studio".html_safe

    = stylesheet_link_tag "pages", :media => "all"
    = csrf_meta_tags

    = favicon_link_tag 'pages/favicon.png'
    = favicon_link_tag 'pages/apple-touch-icon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'

    = render "pages/ga"


  %body{ :class => params[:controller] }
    #prime.container
      = yield

    = javascript_include_tag "pages"

    = yield :inline_javascripts